@{
ViewBag.Title = "Home Page";
}

<div class="container-fluid">
    <div class="row banner-home" style="background-image:url(https://www.hillcrestanimals.com/files/Emergencyvet.jpeg">
        <div class="container">
            <nav class="hero">
                <div class="logo">
                    <p>Mascota</p>
                </div>
                <ul>
                    <li>
                        <a href="#">Inicio</a>
                        <a href="#">Nosotros</a>
                        <a href="#">Contacto</a>

                    </li>
                </ul>
                <a class="btn btn-nav morado" href="#">Agendar cita</a>
                <a class="btn btn-nav verde" href="#">Adoptar mascota</a>
            </nav>
            <div class="caption">
                <p>Bienvenido a</p>
                <h2>Mascotas</h2>
            </div>
        </div>

    </div>

</div>
<div class="container">
    <ul class="featured">
        <li class="card">
            <div class="icon">
                <i class="fas fa-shopping-bag c-rosado"></i>
            </div>
            <div class="content">
                <p>Tienda</p>
            </div>
        </li>
        <li class="card">
            <div class="icon">
                <i class="fas fa-first-aid c-amarillo"></i>
            </div>
            <div class="content">
                <p>Citas</p>
            </div>
        </li>
        <li class="card">
            <div class="icon">
                <i class="fas fa-paw c-verde"></i>
            </div>
            <div class="content">
                <p>Adopciones</p>
            </div>
        </li>
    </ul>
</div>